@import url('./variables.css');
@import url('./themes.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  position: relative;
  transition: background 0.5s ease;
}

.app-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  overflow-x: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}