.post-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comments-section {
  margin-top: 0.75rem;
  padding-bottom: 0.5rem;
}
.comment-avatar {
  text-align: center;
}
.comments-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.user-profile {
  display: grid;
  grid-template-columns: 32px minmax(0px, 1fr);
  padding-bottom: 2px;
}
.comment-author {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
}
.comment-content {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 0.25rem;
}
.comment-replied {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: transparent;
  color: black;
  border: none;
  padding: 0.5rem;
}
.comment-replied:hover {
  text-decoration-line: underline;
  background-color: transparent;
}

.comment-body {
  padding-left: 32px;
  border-left: var(--border);
}
