.post-menu {
  position: relative;
  display: inline-block;
}

.post-menu-btn {
  background: none;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  line-height: 1;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.post-menu-btn:hover {
  background-color: var(--overlay-color);
}

.post-menu-btn:focus {
  outline: none;
}

.post-menu-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  background: var(--background-color);
  width: max-content;
  border-radius: 8px;
  box-shadow: 0 8px 16px var(--background-color);
  z-index: 1000;
  min-width: 160px;
  overflow: hidden;
}

.post-menu-item {
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  transition: background-color 0.15s;
}

.post-menu-item:hover {
  background-color: var(--overlay-color);
}
.profile .post-menu-dropdown {
  background-color: var(--button-color);
}
.post-menu-dropdown .switch {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 1.25rem;
  background: var(--overlay-color);
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
}

.post-menu-dropdown .switch::before {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.3rem;
  width: 0.75rem;
  height: 0.75rem;
  background: var(--text-color);
  border-radius: 50%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.header .post-menu-dropdown svg {
  width: 20px;
  height: 20px;
}
.header .profile input:checked + .switch {
  background: var(--accent);
}

.header .profile input:checked + .switch::before {
  transform: translateX(100%);
}

.header .profile input {
  opacity: 0;
  width: 0;
  height: 0;
}

.header .profile label {
  font-weight: 600;
  user-select: none;
}

.status {
  font-weight: bold;
  font-size: 1.2em;
  min-width: 80px;
}
.post-menu-dropdown .darkmode {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}
