.search-page .avatar-name {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid var(--overlay-color);
  padding: 1rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
}
.search-page .avatar-name:hover {
  background-color: var(--overlay-color);
}
.avatar-name svg,
.avatar-name img {
  max-width: 3rem;
  max-height: 3rem;
  margin: 0;
}
