* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
}
html {
  font-size: 16px;
}
svg {
  width: 16px;
}
.light {
  --button-color: #dce0e8;
  --border: 0.0625rem solid #acb0be;
  --text-color: #4c4f69;
  --accent: #d20f39;
  --background-color: #eff1f5;
  --sub-text-color: #a6adc8;
  --overlay-color: rgba(124, 127, 147, 0.2);
}
.dark {
  --button-color: #11111b;
  --border: 0.0625rem solid var(--overlay-color);
  --text-color: #cdd6f4;
  --accent: #d20f39;
  --background-color: #1e1e2e;
  --sub-text-color: #a6adc8;
  --overlay-color: rgba(147, 153, 178, 0.2);
}
.post-reactions circle,
.post-reactions path {
  stroke: var(--text-color);
}
.svg-color {
  fill: var(--text-color);
}
.grid {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 5fr 2fr;
}
.app {
  color: var(--text-color);
}
.app *:not(.carousel) {
  color: inherit;
}
.card-title {
  font-size: 1.125rem;
  font-weight: 600;
}
.card-author {
  font-size: 1em;
  font-weight: 700;
  margin: 4px 0;
}
.user-info {
  font-size: 0.75rem;
  line-height: 1rem;
  min-height: 32px;
  display: flex;
  margin: 0.25rem 0;
  align-items: center;
  gap: 0.25rem;
}
.profile-image {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  overflow: hidden;
}
.header {
  grid-column: span 3;
}
/* General Feed Container */
.feed-container {
  overflow: scroll;
  font-family: "Arial", sans-serif;
}

/* Loading Spinner */
.loading {
  color: var(--text-color);
  font-size: 24px;
  text-align: center;
}

/* Post Card */
.post-card {
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0;
  cursor: pointer;
}

/* Post Header */
.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 0.5rem;
  position: relative;
}
.post-header .post-menu {
  position: absolute;
  right: 0.5rem;
}

.border {
  border-bottom: 0.0625rem black solid;
}
.card-subtitle {
  font-size: 0.75rem;
  line-height: 1rem;
}
.post-title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.sidebar {
  height: 100%;
  border-right: var(--border);
}
.feed-container,
.post-page {
  padding: 0 1.5rem;
}
.collection-card:hover {
  background-color: var(--overlay-color);
}
.post-page .post-card:hover {
  background-color: transparent;
}
.app .post-topic {
  background-color: var(--accent);
  color: #eff1f5;
  padding: 0px 6px;
  border-radius: 1.25rem;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

.post-location {
  font-size: 14px;
  margin-left: 10px;
}

/* Post Content */
.post-content {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  line-clamp: 6;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

/* Media Section (Images, Videos) */
.post-media {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 540px;
  background-color: #1e1e2e;
}

.post-media .media-item {
  max-width: 100%;
  border-radius: 8px;
}

.post-media img,
.post-media video {
  border-radius: 8px;
  height: 100%;
  object-fit: contain;
}

/* Post Footer (Reactions, Actions) */
.post-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.75rem;
  align-items: center;
  margin-top: 0.5rem;
}

.post-reactions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-actions button {
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-button {
  padding: 0 0.375rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.post-actions button:hover {
  background-color: var(--overlay-color);
}

/* Timestamps */
.post-timestamp {
  font-size: 12px;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

button {
  background-color: var(--button-color);
  border: none;
}

button:hover {
  background-color: var(--overlay-color);
}
/* Reddit-style carousel tweaks */
.carousel .control-arrow {
  background: rgba(0, 0, 0, 0.5) !important;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.25rem !important;
  width: 2rem;
  height: 2rem;
  top: 50% !important;
  border-radius: 50%;
}

.carousel:hover .control-arrow {
  opacity: 1;
}

.carousel .control-arrow {
  opacity: 0.8 !important;
}
.carousel .control-arrow:hover {
  background: rgba(0, 0, 0, 0.8) !important;
}

.carousel .thumb {
  opacity: 0.6;
  transition: opacity 0.3s;
  border: 2px solid transparent;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  opacity: 1;
  border: 2px solid white !important;
}

.carousel .slide img {
  border-radius: 0;
  object-fit: contain;
}
.carousel {
  min-height: 220px;
  max-height: min(100%, 540px);
  z-index: 1;
}
.carousel .slide {
  overflow: hidden;
  border-radius: 0.5rem;
}
.carousel .slider-wrapper {
  height: 100%;
}
.carousel .control-dots {
  height: auto;
}
.carousel-root *,
.carousel-root {
  height: 100%;
}

.carousel .slide .image-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.background-image {
  position: absolute;
  z-index: -1;
  background-size: cover;
  filter: blur(20px) brightness(0.35) saturate(1.2);
  width: 100%;
  height: 100%;
}
.post-footer .highlight-item {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  padding: 0 0.75rem;
  gap: 0.375rem;
}
.hightlight-item svg {
  height: 16px;
  width: 16px;
}
.highlight-item.active .svg-color,
.highlight-item.active path {
  fill: #e5c890 !important;
  stroke: #e5c890 !important;
}
.light .highlight-item.active .svg-color,
.light .highlight-item.active path {
  fill: #df8e1d !important;
  stroke: #df8e1d !important;
}
.reaction-container {
  display: flex;
  gap: 0.25rem;
}
.feed-container hr {
  border: none;
  border-bottom: var(--border);
}
.post-page hr {
  border: none;
  border-bottom: var(--border);
  margin: 0.75rem 0;
}
