.sidebar {
  padding: calc(56px + 1rem) 1rem;
}
.sidebar > * {
  border-radius: 0.5rem;
}
.sidebar > *:hover {
  background-color: var(--overlay-color);
}
.sidebar .container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
  height: 2.5rem;
}
.sidebar svg {
  width: 20px;
  height: 20px;
}
.sidebar .text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.sidebar .active {
  background-color: var(--overlay-color);
}

.switch {
  position: relative;
  width: 3rem;
  height: 2rem;
  background: var(--overlay-color);
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
}

.switch::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--text-color);
  border-radius: 50%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* When ON (right) */
.sidebar input:checked + .switch {
  background: var(--accent);
}

.sidebar input:checked + .switch::before {
  transform: translateX(1rem);
}

.sidebar input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sidebar label {
  font-weight: 600;
  user-select: none;
}

.status {
  font-weight: bold;
  font-size: 1.2em;
  min-width: 80px;
}
